In [1]:
# libraries

from datetime import datetime
import os
import re
import glob
import requests 
import pandas as pd
from bs4 import BeautifulSoup

pd.__version__

'1.0.1'

# Web Scrapping

In [2]:
# web scrapping

link = 'https://www.mohfw.gov.in/'
req = requests.get(link)
soup = BeautifulSoup(req.content, "html.parser")

thead = soup.find_all('thead')[-1]
#print(thead)
head = thead.find_all('tr')
#print(head)

tbody = soup.find_all('tbody')[-1]
#print(tbody)
body = tbody.find_all('tr')
#print(body)

head_rows = []
body_rows = []


for tr in head:
    td = tr.find_all(['th', 'td'])
    #print(td)
    row = [i.text for i in td]
    #print(row)
    head_rows.append(row)
    
for tr in body:
    td = tr.find_all(['th', 'td'])
    #print(td)
    row = [i.text for i in td]
    body_rows.append(row)
    
#print(body_rows)
#print(head_rows)
    
df_bs = pd.DataFrame(body_rows[:len(body_rows)-2], columns=head_rows[0])
#df_bs.shape
    
df_bs.drop('S. No.', axis=1, inplace=True)
df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Including 76 foreign Nationals),Cured/Discharged/Migrated,Death
0,Andhra Pradesh,432,11,7
1,Andaman and Nicobar Islands,11,10,0
2,Arunachal Pradesh,1,0,0
3,Assam,31,0,1
4,Bihar,65,26,1
5,Chandigarh,21,7,0
6,Chhattisgarh,31,10,0
7,Delhi,1510,30,28
8,Goa,7,5,0
9,Gujarat,539,54,26
10,Haryana,185,29,3
11,Himachal Pradesh,32,13,1
12,Jammu and Kashmir,270,16,4
13,Jharkhand,24,0,2
14,Karnataka,247,59,6
15,Kerala,379,198,3
16,Ladakh,15,10,0
17,Madhya Pradesh,604,44,43
18,Maharashtra,2334,217,160
19,Manipur,2,1,0
20,Mizoram,1,0,0
21,Nagaland,1,0,0
22,Odisha,54,12,1
23,Puducherry,7,1,0
24,Punjab,167,14,11
25,Rajasthan,873,21,3
26,Tamil Nadu,1173,58,11
27,Telengana,562,100,16
28,Tripura,2,0,0
29,Uttarakhand,35,5,0
30,Uttar Pradesh,558,49,5
31,West Bengal,190,36,7

# Data Cleaning

In [3]:
# date-time information
# ---------------------

now  = datetime.now()
df_bs['Date'] = now.strftime("%m/%d/%Y") 
df_bs['Date'] = pd.to_datetime(df_bs['Date'], format='%m/%d/%Y')
df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Including 76 foreign Nationals),Cured/Discharged/Migrated,Death,Date
0,Andhra Pradesh,432,11,7,2020-04-14
1,Andaman and Nicobar Islands,11,10,0,2020-04-14
2,Arunachal Pradesh,1,0,0,2020-04-14
3,Assam,31,0,1,2020-04-14
4,Bihar,65,26,1,2020-04-14
5,Chandigarh,21,7,0,2020-04-14
6,Chhattisgarh,31,10,0,2020-04-14
7,Delhi,1510,30,28,2020-04-14
8,Goa,7,5,0,2020-04-14
9,Gujarat,539,54,26,2020-04-14
10,Haryana,185,29,3,2020-04-14
11,Himachal Pradesh,32,13,1,2020-04-14
12,Jammu and Kashmir,270,16,4,2020-04-14
13,Jharkhand,24,0,2,2020-04-14
14,Karnataka,247,59,6,2020-04-14
15,Kerala,379,198,3,2020-04-14
16,Ladakh,15,10,0,2020-04-14
17,Madhya Pradesh,604,44,43,2020-04-14
18,Maharashtra,2334,217,160,2020-04-14
19,Manipur,2,1,0,2020-04-14
20,Mizoram,1,0,0,2020-04-14
21,Nagaland,1,0,0,2020-04-14
22,Odisha,54,12,1,2020-04-14
23,Puducherry,7,1,0,2020-04-14
24,Punjab,167,14,11,2020-04-14
25,Rajasthan,873,21,3,2020-04-14
26,Tamil Nadu,1173,58,11,2020-04-14
27,Telengana,562,100,16,2020-04-14
28,Tripura,2,0,0,2020-04-14
29,Uttarakhand,35,5,0,2020-04-14
30,Uttar Pradesh,558,49,5,2020-04-14
31,West Bengal,190,36,7,2020-04-14

In [4]:
df_bs['Name of State / UT'].unique()

array(['Andhra Pradesh', 'Andaman and Nicobar Islands',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Delhi', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Ladakh', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab',
       'Rajasthan', 'Tamil Nadu', 'Telengana', 'Tripura', 'Uttarakhand',
       'Uttar Pradesh', 'West Bengal'], dtype=object)

In [124]:
# latitude and longitude information
# ----------------------------------

lat = {'Delhi':28.7041, 'Haryana':29.0588, 'Kerala':10.8505, 'Rajasthan':27.0238,
       'Telengana':18.1124, 'Uttar Pradesh':26.8467, 'Ladakh':34.2996, 'Tamil Nadu':11.1271,
       'Jammu and Kashmir':33.7782, 'Punjab':31.1471, 'Karnataka':15.3173, 'Maharashtra':19.7515,
       'Andhra Pradesh':15.9129, 'Odisha':20.9517, 'Uttarakhand':30.0668, 'West Bengal':22.9868, 
       'Puducherry': 11.9416, 'Chandigarh': 30.7333, 'Chhattisgarh':21.2787, 'Gujarat': 22.2587, 
       'Himachal Pradesh': 31.1048, 'Madhya Pradesh': 22.9734, 'Bihar': 25.0961, 'Manipur':24.6637, 
       'Mizoram':23.1645, 'Goa': 15.2993, 'Andaman and Nicobar Islands': 11.7401, 'Assam' : 26.2006, 
       'Jharkhand': 23.6102, 'Arunachal Pradesh': 28.2180, 'Tripura': 23.9408, 'Nagaland' : 26.1584}

long = {'Delhi':77.1025, 'Haryana':76.0856, 'Kerala':76.2711, 'Rajasthan':74.2179,
        'Telengana':79.0193, 'Uttar Pradesh':80.9462, 'Ladakh':78.2932, 'Tamil Nadu':78.6569,
        'Jammu and Kashmir':76.5762, 'Punjab':75.3412, 'Karnataka':75.7139, 'Maharashtra':75.7139,
        'Andhra Pradesh':79.7400, 'Odisha':85.0985, 'Uttarakhand':79.0193, 'West Bengal':87.8550, 
        'Puducherry': 79.8083, 'Chandigarh': 76.7794, 'Chhattisgarh':81.8661, 'Gujarat': 71.1924, 
        'Himachal Pradesh': 77.1734, 'Madhya Pradesh': 78.6569, 'Bihar': 85.3131, 'Manipur':93.9063, 
        'Mizoram':92.9376, 'Goa': 74.1240, 'Andaman and Nicobar Islands': 92.6586, 'Assam' : 92.9376, 
        'Jharkhand': 85.2799, 'Arunachal Pradesh': 94.7278, 'Tripura': 91.9882 , 'Nagaland' : 94.5624}

df_bs['Latitude'] = df_bs['Name of State / UT'].map(lat)
df_bs['Longitude'] = df_bs['Name of State / UT'].map(long)

df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Including 76 foreign Nationals),Cured/Discharged/Migrated,Death,Date,Latitude,Longitude
0,Andhra Pradesh,432,11,7,2020-04-14,15.9129,79.7400
1,Andaman and Nicobar Islands,11,10,0,2020-04-14,11.7401,92.6586
2,Arunachal Pradesh,1,0,0,2020-04-14,28.2180,94.7278
3,Assam,31,0,1,2020-04-14,26.2006,92.9376
4,Bihar,65,26,1,2020-04-14,25.0961,85.3131
5,Chandigarh,21,7,0,2020-04-14,30.7333,76.7794
6,Chhattisgarh,31,10,0,2020-04-14,21.2787,81.8661
7,Delhi,1510,30,28,2020-04-14,28.7041,77.1025
8,Goa,7,5,0,2020-04-14,15.2993,74.1240
9,Gujarat,539,54,26,2020-04-14,22.2587,71.1924
10,Haryana,185,29,3,2020-04-14,29.0588,76.0856
11,Himachal Pradesh,32,13,1,2020-04-14,31.1048,77.1734
12,Jammu and Kashmir,270,16,4,2020-04-14,33.7782,76.5762
13,Jharkhand,24,0,2,2020-04-14,23.6102,85.2799
14,Karnataka,247,59,6,2020-04-14,15.3173,75.7139
15,Kerala,379,198,3,2020-04-14,10.8505,76.2711
16,Ladakh,15,10,0,2020-04-14,34.2996,78.2932
17,Madhya Pradesh,604,44,43,2020-04-14,22.9734,78.6569
18,Maharashtra,2334,217,160,2020-04-14,19.7515,75.7139
19,Manipur,2,1,0,2020-04-14,24.6637,93.9063
20,Mizoram,1,0,0,2020-04-14,23.1645,92.9376
21,Nagaland,1,0,0,2020-04-14,26.1584,94.5624
22,Odisha,54,12,1,2020-04-14,20.9517,85.0985
23,Puducherry,7,1,0,2020-04-14,11.9416,79.8083
24,Punjab,167,14,11,2020-04-14,31.1471,75.3412
25,Rajasthan,873,21,3,2020-04-14,27.0238,74.2179
26,Tamil Nadu,1173,58,11,2020-04-14,11.1271,78.6569
27,Telengana,562,100,16,2020-04-14,18.1124,79.0193
28,Tripura,2,0,0,2020-04-14,23.9408,91.9882
29,Uttarakhand,35,5,0,2020-04-14,30.0668,79.0193
30,Uttar Pradesh,558,49,5,2020-04-14,26.8467,80.9462
31,West Bengal,190,36,7,2020-04-14,22.9868,87.8550

In [125]:
df_bs.isna().sum()

Name of State / UT                                         0
Total Confirmed cases (Including 76 foreign Nationals)     0
Cured/Discharged/Migrated                                  0
Death                                                      0
Date                                                       0
Latitude                                                   0
Longitude                                                  0
dtype: int64

In [126]:
# finding Null Value Row and replacing it with data
#null_filt = df_bs['Latitude'].isnull()
#df_bs.loc[null_filt]

# Saving data

In [128]:
# saving data
# -----------

file_name = now.strftime("%Y_%m_%d")+'.csv'
file_loc = r'C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\.day_by_day_data'
#print(file_loc + '\\')
df_bs.to_csv(file_loc + '\\' + file_name, index=False)

df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Including 76 foreign Nationals),Cured/Discharged/Migrated,Death,Date,Latitude,Longitude
0,Andhra Pradesh,432,11,7,2020-04-14,15.9129,79.7400
1,Andaman and Nicobar Islands,11,10,0,2020-04-14,11.7401,92.6586
2,Arunachal Pradesh,1,0,0,2020-04-14,28.2180,94.7278
3,Assam,31,0,1,2020-04-14,26.2006,92.9376
4,Bihar,65,26,1,2020-04-14,25.0961,85.3131
5,Chandigarh,21,7,0,2020-04-14,30.7333,76.7794
6,Chhattisgarh,31,10,0,2020-04-14,21.2787,81.8661
7,Delhi,1510,30,28,2020-04-14,28.7041,77.1025
8,Goa,7,5,0,2020-04-14,15.2993,74.1240
9,Gujarat,539,54,26,2020-04-14,22.2587,71.1924
10,Haryana,185,29,3,2020-04-14,29.0588,76.0856
11,Himachal Pradesh,32,13,1,2020-04-14,31.1048,77.1734
12,Jammu and Kashmir,270,16,4,2020-04-14,33.7782,76.5762
13,Jharkhand,24,0,2,2020-04-14,23.6102,85.2799
14,Karnataka,247,59,6,2020-04-14,15.3173,75.7139
15,Kerala,379,198,3,2020-04-14,10.8505,76.2711
16,Ladakh,15,10,0,2020-04-14,34.2996,78.2932
17,Madhya Pradesh,604,44,43,2020-04-14,22.9734,78.6569
18,Maharashtra,2334,217,160,2020-04-14,19.7515,75.7139
19,Manipur,2,1,0,2020-04-14,24.6637,93.9063
20,Mizoram,1,0,0,2020-04-14,23.1645,92.9376
21,Nagaland,1,0,0,2020-04-14,26.1584,94.5624
22,Odisha,54,12,1,2020-04-14,20.9517,85.0985
23,Puducherry,7,1,0,2020-04-14,11.9416,79.8083
24,Punjab,167,14,11,2020-04-14,31.1471,75.3412
25,Rajasthan,873,21,3,2020-04-14,27.0238,74.2179
26,Tamil Nadu,1173,58,11,2020-04-14,11.1271,78.6569
27,Telengana,562,100,16,2020-04-14,18.1124,79.0193
28,Tripura,2,0,0,2020-04-14,23.9408,91.9882
29,Uttarakhand,35,5,0,2020-04-14,30.0668,79.0193
30,Uttar Pradesh,558,49,5,2020-04-14,26.8467,80.9462
31,West Bengal,190,36,7,2020-04-14,22.9868,87.8550

In [195]:
df_bs.columns

Index(['Name of State / UT',
       'Total Confirmed cases (Including 76 foreign Nationals) ',
       'Cured/Discharged/Migrated', 'Death', 'Date', 'Latitude', 'Longitude'],
      dtype='object')

# Reading Latest Data

In [196]:
%ls C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\.day_by_day_data

 Volume in drive C has no label.
 Volume Serial Number is 0821-B132

 Directory of C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\.day_by_day_data

14-04-2020  16:56    <DIR>          .
14-04-2020  16:56    <DIR>          ..
08-04-2020  14:52             1,571 2020_04_08.csv
09-04-2020  14:02             1,574 2020_04_09.csv
10-04-2020  14:00             1,576 2020_04_10.csv
11-04-2020  12:53             1,579 2020_04_11.csv
14-04-2020  16:56             1,636 2020_04_14.csv
               5 File(s)          7,936 bytes
               2 Dir(s)  218,440,531,968 bytes free

In [197]:
#pd.read_csv?

In [201]:
# concatenating latest data in Complete File data

loc = "C:\\Users\\sreya\\Desktop\\Pythone_File\\COVID-19_INDIA\\input\\.day_by_day_data\\"

files = glob.glob(loc +'2020*.csv')

llatest_file = max(files,key=os.path.getctime)
df_temp = pd.read_csv(latest_file)
df_temp = df_temp.rename(columns=lambda x: re.sub('Total Confirmed cases \(Including .. foreign Nationals\) ',
                                                    'Total Confirmed cases',x))

df_temp['Total Confirmed cases (Indian National)'] = None
df_temp['Total Confirmed cases ( Foreign National )'] = None

cols = ['Total Confirmed cases (Indian National)', 'Total Confirmed cases ( Foreign National )', 
              'Cured/Discharged/Migrated', 'Death']

df_temp[cols] = df_temp[cols].fillna(0).astype('int')

df_temp.tail(50)

,Name of State / UT,Total Confirmed cases,Cured/Discharged/Migrated,Death,Date,Latitude,Longitude,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National )
0,Andhra Pradesh,432,11,7,2020-04-14,15.9129,79.7400,0,0
1,Andaman and Nicobar Islands,11,10,0,2020-04-14,11.7401,92.6586,0,0
2,Arunachal Pradesh,1,0,0,2020-04-14,28.2180,94.7278,0,0
3,Assam,31,0,1,2020-04-14,26.2006,92.9376,0,0
4,Bihar,65,26,1,2020-04-14,25.0961,85.3131,0,0
5,Chandigarh,21,7,0,2020-04-14,30.7333,76.7794,0,0
6,Chhattisgarh,31,10,0,2020-04-14,21.2787,81.8661,0,0
7,Delhi,1510,30,28,2020-04-14,28.7041,77.1025,0,0
8,Goa,7,5,0,2020-04-14,15.2993,74.1240,0,0
9,Gujarat,539,54,26,2020-04-14,22.2587,71.1924,0,0
10,Haryana,185,29,3,2020-04-14,29.0588,76.0856,0,0
11,Himachal Pradesh,32,13,1,2020-04-14,31.1048,77.1734,0,0
12,Jammu and Kashmir,270,16,4,2020-04-14,33.7782,76.5762,0,0
13,Jharkhand,24,0,2,2020-04-14,23.6102,85.2799,0,0
14,Karnataka,247,59,6,2020-04-14,15.3173,75.7139,0,0
15,Kerala,379,198,3,2020-04-14,10.8505,76.2711,0,0
16,Ladakh,15,10,0,2020-04-14,34.2996,78.2932,0,0
17,Madhya Pradesh,604,44,43,2020-04-14,22.9734,78.6569,0,0
18,Maharashtra,2334,217,160,2020-04-14,19.7515,75.7139,0,0
19,Manipur,2,1,0,2020-04-14,24.6637,93.9063,0,0
20,Mizoram,1,0,0,2020-04-14,23.1645,92.9376,0,0
21,Nagaland,1,0,0,2020-04-14,26.1584,94.5624,0,0
22,Odisha,54,12,1,2020-04-14,20.9517,85.0985,0,0
23,Puducherry,7,1,0,2020-04-14,11.9416,79.8083,0,0
24,Punjab,167,14,11,2020-04-14,31.1471,75.3412,0,0
25,Rajasthan,873,21,3,2020-04-14,27.0238,74.2179,0,0
26,Tamil Nadu,1173,58,11,2020-04-14,11.1271,78.6569,0,0
27,Telengana,562,100,16,2020-04-14,18.1124,79.0193,0,0
28,Tripura,2,0,0,2020-04-14,23.9408,91.9882,0,0
29,Uttarakhand,35,5,0,2020-04-14,30.0668,79.0193,0,0
30,Uttar Pradesh,558,49,5,2020-04-14,26.8467,80.9462,0,0
31,West Bengal,190,36,7,2020-04-14,22.9868,87.8550,0,0

In [132]:
df_temp.columns

Index(['Name of State / UT', 'Total Confirmed cases',
       'Cured/Discharged/Migrated', 'Death', 'Date', 'Latitude', 'Longitude',
       'Total Confirmed cases (Indian National)',
       'Total Confirmed cases ( Foreign National )'],
      dtype='object')

In [133]:
df_temp['Name of State / UT'].replace('Chattisgarh', 'Chhattisgarh', inplace=True)
df_temp['Name of State / UT'].replace('Pondicherry', 'Puducherry', inplace=True)

In [134]:
df_temp.tail()

,Name of State / UT,Total Confirmed cases,Cured/Discharged/Migrated,Death,Date,Latitude,Longitude,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National )
27,Telengana,562,100,16,2020-04-14,18.1124,79.0193,0,0
28,Tripura,2,0,0,2020-04-14,23.9408,91.9882,0,0
29,Uttarakhand,35,5,0,2020-04-14,30.0668,79.0193,0,0
30,Uttar Pradesh,558,49,5,2020-04-14,26.8467,80.9462,0,0
31,West Bengal,190,36,7,2020-04-14,22.9868,87.8550,0,0

In [135]:
sorted(df_temp['Name of State / UT'].unique())

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Tamil Nadu',
 'Telengana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [136]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 9 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Name of State / UT                          32 non-null     object
 1   Total Confirmed cases                       32 non-null     int64
 2   Cured/Discharged/Migrated                   32 non-null     int32
 3   Death                                       32 non-null     int32
 4   Date                                        32 non-null     object
 5   Latitude                                    32 non-null     float64
 6   Longitude                                   32 non-null     float64
 7   Total Confirmed cases (Indian National)     32 non-null     int32
 8   Total Confirmed cases ( Foreign National )  32 non-null     int32
dtypes: float64(2), int32(4), int64(1), object(2)
memory usage: 1.9+ KB

# Combining Latest Data with Complete Data

In [178]:
%ls C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\covid19-corona-virus-india-dataset

 Volume in drive C has no label.
 Volume Serial Number is 0821-B132

 Directory of C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\covid19-corona-virus-india-dataset

13-04-2020  16:38    <DIR>          .
13-04-2020  16:38    <DIR>          ..
10-04-2020  16:57    <DIR>          .ipynb_checkpoints
13-04-2020  11:08            45,502 complete.csv
10-04-2020  16:59            39,293 patient_wise_data_scrapping_and_cleaning.ipynb
10-04-2020  16:57         1,219,997 patients_data.csv
               3 File(s)      1,304,792 bytes
               3 Dir(s)  219,249,520,640 bytes free

In [183]:
complete_df = pd.read_csv(r'C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\covid19-corona-virus-india-dataset\complete.csv')
complete_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 919 entries, 0 to 918
Data columns (total 9 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Date                                        919 non-null    object
 1   Name of State / UT                          919 non-null    object
 2   Total Confirmed cases (Indian National)     919 non-null    int64
 3   Total Confirmed cases ( Foreign National )  919 non-null    int64
 4   Cured/Discharged/Migrated                   919 non-null    int64
 5   Latitude                                    919 non-null    float64
 6   Longitude                                   919 non-null    float64
 7   Death                                       919 non-null    int64
 8   Total Confirmed cases                       919 non-null    int64
dtypes: float64(2), int64(5), object(2)
memory usage: 64.7+ KB

In [190]:
final_df = pd.concat([complete_df,df_temp],ignore_index=True)\
                                            .sort_values(['Date'], ascending=True)\
                                            .reset_index(drop=True)\

final_df['Date'] = pd.to_datetime(final_df['Date'])
final_df = final_df.sort_values(['Date', 'Name of State / UT']).reset_index(drop=True)

final_df.head()

,Date,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Latitude,Longitude,Death,Total Confirmed cases
0,2020-01-30,Kerala,1,0,0,10.8505,76.2711,0,1
1,2020-01-31,Kerala,1,0,0,10.8505,76.2711,0,1
2,2020-02-01,Kerala,2,0,0,10.8505,76.2711,0,2
3,2020-02-02,Kerala,3,0,0,10.8505,76.2711,0,3
4,2020-02-03,Kerala,3,0,0,10.8505,76.2711,0,3

In [191]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 951 entries, 0 to 950
Data columns (total 9 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Date                                        951 non-null    datetime64[ns]
 1   Name of State / UT                          951 non-null    object
 2   Total Confirmed cases (Indian National)     951 non-null    int64
 3   Total Confirmed cases ( Foreign National )  951 non-null    int64
 4   Cured/Discharged/Migrated                   951 non-null    int64
 5   Latitude                                    951 non-null    float64
 6   Longitude                                   951 non-null    float64
 7   Death                                       951 non-null    int64
 8   Total Confirmed cases                       951 non-null    int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(1)
memory usage: 67.0+ KB

In [194]:
final_df.to_csv(r'C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\covid19-corona-virus-india-dataset\complete.csv', index=False, mode = 'w+')